/* INICIO de Alteração para todo código */

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* FINAL de Alteração para todo código */

/* INICIO de Alteração da SKY - NAVBAR */

#sky{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1488F2;
    height: 8.5vh;
    width: 100%;
    position: sticky;
    top: 0%;
}

#sky h4{
    color: white;
    margin-left: 1.3rem;
}

.sky_list{
    display: flex;
    list-style: none;
}

.sky_list a{
    margin-right: 1.3rem;
    padding-right: 0.4vh;
    text-decoration: none;
    color: white;
}

/* FINAL de Alteração da SKY - NAVBAR */

/* INICIO de Alteração da HOME */

#HOME{
    width: 100%;
    height: 100vh;
    background-color: #1488F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}

#image_1{
    width: 50vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    margin-left: 12rem;
}

#HOME div{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

#HOME div h4{
    color:white;
    font-size: 2rem;
    font-weight: bold;
}

#HOME div h1{
    color: white;
    font-size: 7rem;
    font-weight: bolder;
}

#HOME div h5{
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}

#HOME div button{
    border: none;
    border-radius: 5px;
    height: 8vh;
    width: 20vw;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    background-color: #0bdd6a;
    transition: .3s;
    margin-top: 5rem;
}

#HOME div button:hover{
    transition: .3s;
    background-color: #059948;
    cursor: pointer;
}

/* FINAL de Alteração da HOME */