@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Barlow:wght@300;400;700&display=swap');

/* INICIO de Alteração para todo código */

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#sky h4, #HOME div h4, #HOME div h1, .middle_space h2, .sky_list a, .middle_space h5, #CONTACT fieldset{
    font-family: 'Archivo', sans-serif;
}

#HOME div button, #HOME div h5, #CONTACT fieldset form div input, #CONTACT fieldset form textarea, #CONTACT button, footer{
    font-family: 'Barlow', sans-serif;
}

/* FINAL de Alteração para todo código */

/* INICIO de Alteração da SKY - NAVBAR */

#sky{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1488F2;
    height: 8.5vh;
    width: 100%;
    position: sticky;
    top: 0%;
}

#sky h4{
    color: white;
    margin-left: 1.3rem;
}

.sky_list{
    display: flex;
    list-style: none;
    font-weight: normal;
}

.sky_list a{
    margin-right: 1rem;
    padding-right: 1vh;
    text-decoration: none;
    color: white;
}

/* FINAL de Alteração da SKY - NAVBAR */

/* INICIO de Alteração da HOME */

#HOME{
    width: 100%;
    height: 100vh;
    background-color: #1488F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}

#image_1{
    width: 50vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    margin-left: 12rem;
}

#HOME div{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

#HOME div h4{
    color:white;
    font-size: 2rem;
    font-weight: bold;
}

#HOME div h1{
    color: white;
    font-size: 7.5rem;
    font-weight: bolder;
}

#HOME div h5{
    color:#DAD8D8;
    font-size: 1.5rem;
    font-weight: normal;
}

#HOME div button{
    border: none;
    border-radius: 5px;
    height: 9vh;
    width: 20vw;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    background-color: #0ae46c;
    transition: .3s;
    margin-top: 5rem;
}

#HOME div button:hover{
    transition: .3s;
    background-color: #048a40;
    cursor: pointer;
}

/* FINAL de Alteração da HOME */

/* INICIO de Alteração da ABOUT */

#ABOUT{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    }

.middle_space{
    background-color: #2C5073;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.middle_space h2{
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.middle_space hr{
    background-color: yellow;
    border: none;
    width: 14%;
    height: 0.4vh;
    margin-bottom: 2.5rem;
}

.middle_space h5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    text-align: center;
    font-size: 1.2rem;
}

/* FINAL de Alteração da ABOUT */

/* INICIO de Alteração do CONTATO */

#CONTACT{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/images/back-contact.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    zoom: 92%;
}

#CONTACT fieldset{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: normal;
    font-size: 1.8rem;
    text-align: center;
    border: 2px solid #1488F2;
}

#CONTACT fieldset form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#CONTACT fieldset form div input{
    background: none;
    border: none;
    width: 20vw;
    height: 5vh;
    border-bottom: 3.2px solid #1488F2;
    font-size: 1rem;
    font-weight: normal;
    color: #ffffff;
}

#CONTACT fieldset form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

#CONTACT fieldset form textarea{
    background: none;
    border: none;
    width: 40vw;
    height: 20vh;
    border: 3.2px solid #1488F2;
    resize: none;
    font-size: 1rem;
    font-weight: normal;
    color: #ffffff;
}

::-webkit-input-placeholder{
    color: #ffffff;
}

#CONTACT button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3.2px solid #1488F2;
    border-radius: 6px;
    height: 7vh;
    width: 20vw;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: normal;
    background: none;
    transition: .2s;
    margin-top: 3.5rem;
}

#CONTACT button:hover{
    transition: .2s;
    background-color: none;
    cursor: pointer;
}

/* FINAL de Alteração do CONTATO */

/* INICIO de Alteração do FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 17vh;
    background-color: #2C5073;
}

footer p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: normal;
}

footer div{
    width: 17.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

/* FINAL de Alteração do FOOTER */
